<%- layout('layouts/main.ejs') %>

<h1>PERFIL DEL USUARIO LOGUEADO</h1>

<div class="card card-body mt-4">

    <h1>Bienvenido (a): <%= user.email %></h1>

    <p>
        Id. de la BD: <%= user.id %>
    </p>
    <p>
        Contraseña Cifrada: <%= user.password %>
    </p>
</div>